Workflow/workflow-telegram.json
{
  "name": "My workflow 3 duplicate",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Quando perguntarem quem é você ou qual é o seu nome,\nresponda que você é o Turtle RH,\nassistente virtual de RH da ChocolaTech.\nREGRAS:\n\nSempre responda em português.\nResponda APENAS dúvidas relacionadas a RH.\nIDENTIFICAÇÃO DO FUNCIONÁRIO:\nSe o usuário não disser quem é, pergunte o nome completo dele logo na primeira mensagem.\nUse a ferramenta MySQL para buscar na tabela funcionarios usando SEMPRE o NOME COMPLETO informado pelo usuário na conversa.\nSe encontrado: use os saldos de férias e banco de horas.\nSe não encontrado: não invente dados pessoais. Responda apenas com base nas políticas gerais de RH do Vector Store.\nUse a base de conhecimento para dúvidas gerais.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        0
      ],
      "id": "875c9aa8-5974-43ab-8c67-d476ed81ac55",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "9064ca30-a7af-4bc9-9e8c-f751f28ba053",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "0StbTaWjHZZF6UNw",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        352,
        224
      ],
      "id": "55f1ee54-0577-4780-b998-d664b5a4c2cc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busque informações sobre políticas de RH, férias, horários e rotinas da empresa Chocolatech.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "2af3acb8-e456-49de-9d24-79df09b1f21c",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        560,
        432
      ],
      "id": "94f919f4-8fc7-4610-ab82-06d4bb1f31f9",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "0StbTaWjHZZF6UNw",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "funcionarios",
          "mode": "list",
          "cachedResultName": "funcionarios"
        },
        "where": {
          "values": [
            {
              "column": "nome",
              "condition": "LIKE",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `Sempre use o formato %nome% (com % no início e no fim) para busca parcial.\nExemplo:\n%João Silva%`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        768,
        224
      ],
      "id": "da4d6a9c-195e-49ce-a844-dd6273910dad",
      "name": "Select rows from a table in MySQL",
      "credentials": {
        "mySql": {
          "id": "lSSJ21JRTuJLRl61",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "38d65181-00c0-402b-a5ae-0418759133fe",
      "name": "Telegram Trigger",
      "webhookId": "d7f37fb7-3042-41a9-bf18-7f5f81e08800",
      "credentials": {
        "telegramApi": {
          "id": "bwTknHzYyE9URBTq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        0
      ],
      "id": "ff2329ae-c718-4af8-9714-1be1aaca5db7",
      "name": "Send a text message",
      "webhookId": "b82b9517-49c7-4131-b62d-8570910a75ea",
      "credentials": {
        "telegramApi": {
          "id": "bwTknHzYyE9URBTq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "54f60b8b-8fe6-4f12-ace7-0ce783361406",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbae009ea4a879fead2985062225661bcf985f398c316c556b624adf29be60cb"
  },
  "nodeGroups": [],
  "id": "tNHCiX20xv78kZRo",
  "tags": []
}